.App {
  text-align: left;
  background-color:black;
}

.spotlight-listings-container{
  width: 100%;
  height:600px;

  >.nav-input nav-progressive-attribute{
    width: 100%;
     height: 100px;
}
  
>p{
    font-size: 16px;
    color:white;
    font-weight: 500;
    margin: 0 0 20px 0;
  }
    
    >.game-card-listings{
      display: flex;
      row-gap: 30px;

      >.game-card{
        position: relative;
        width: 210px;
        height: auto;
        background-color:white;
        border-radius:5px;

        > img{
          width: 100%;
          object-fit: contain;
        }
        >.game-content{
          .pricing{
            .actualPrice{
              text-decoration: line-through;

            }
          }
        }




      }  
    }
  
 
}
